.bg {
    width: 100vw;
    height: 100vh;
    z-index: 0;
    position: absolute;
    background-color: var(--bgColor);
    background-size: cover;
}

[data-active='active'] {
    background-color: var(--thiBgColor);
    border-radius: 8px;
}