.mainpage-container {
    width: 100%;
    /*border: 1px solid red;*/


    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 80px;
}

.mainpage-container h2 {
    
    margin-bottom: 30px;
}

.mainpage-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-around;
}

.mainpage-player {
    width: 200px;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 20px 20px 0 0;

    /*border: 1px solid gray;*/
    cursor: pointer;
    border-radius: 6px;

    background: rgb(157,25,158);
    background: linear-gradient(137deg, rgba(157,25,158,1) 0%, rgba(25,63,157,1) 69%, rgba(17,23,103,1) 100%);
}
.mainpage-player:hover {
    opacity: 0.8;
}
.mainpage-recommend {

    padding: 0 100px 100px 100px;

/*    border: 1px solid pink;*/

}

.mainpage-random-btn {
    font-size: 78px;

}
.second-mainpage-container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 100px;

    padding: 0 100px 100px 100px;

}
.second-mainpage-content {
    width: 300px;
    height: 350px;

}

.second-mainpage-content h4 {
    margin-top: 10px;

}
.second-mainpage-content h4:hover {
    cursor: pointer;
}


/*  SONG CARD  */
.song-card-container {
    display: flex;
    gap: 40px;

}
.song-card {
    width: 250px;
    height: 220px;
    position: relative;
   /* border: 1px solid gold;*/

    cursor: pointer;
}

.song-card-link:hover {
    opacity: 0.9;
}
.song-card-img-container {
    width: 250px;
    height: 220px;

    overflow: hidden;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.song-card-img {
    width: 250px;
    height: 250px;

    background-size: cover;
    

}


.song-card h4 {
    margin-top: 10px;

}
.song-card p {
    
    color: var(--textColor)
}
.song-card-icon {
    position: absolute;
    top: 85px;
    left: 110px;
    color: white;
    font-size: 55px;

    z-index: 100;
}


@media screen and (max-width: 890px) {
    .song-card {
        width: 150px;
        height: 150px;
    }
    .mainpage-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .mainpage-recommend {
        width: 800px;
        height: 400px;


        display: flex;
        flex-direction: column;

        align-items: center;
    }
    .song-card-img-container {
        width: 150px;
        height: 150px;
    }
    .song-card-icon {
        top: 62px;
        left: 68px;

        font-size: 30px;
    }
    .mainpage-player {
        width: 150px;
        height: 150px;
    
    }



}
@media screen and (max-width: 1120px) {
    .mainpage-container {
        padding: 0;
    }
    .mainpage-recommend {
        padding: 20px;
        height: 350px;
    }
    .second-mainpage-container {
        padding: 20px;

        width: 600px;
        height: 400px;
    }

}

@media screen and (max-width: 1310px) {
    .mainpage-header {
        flex-direction: column;
    }
}