.player-container {
    /*margin-left: 100px;*/
    width: 100%;
    height: 80%;
    padding: 0 80px 0 80px;

    position: absolute;

    background-color: var(--bgColor);

    display: none;
    justify-content: space-evenly;

    align-items: center;

}
.player {
    width: 100%;
    padding: 0 100px 100px 100px;

    /*border: 1px solid pink;*/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.audio-controls {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}
.play-audio {
    min-width: 40px;
    font-size: 45px;
    cursor: pointer;
    margin: 0 5px;
    align-self: center;
}
.small-control {
    font-size: 16px;
    color: var(--textColor);
    transition: 0.8s ease;
}
.small-control:hover {
    color: white;
}
.medium-control {
    font-size: 30px;
}
.audio-detail {
    text-align: center;
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.62);

}
.audio-detail-album-name {
    color: var(--textColor);
}
.audio-detail-time {
    min-width: 465px;
    color: var(--textColor);
    display: flex;
    justify-content: space-between;
    font-size: 19px;
    font-weight: bold;
    /*background-color: gold;*/
    margin-top: 10px;
}
.time-line-container {
    width: 340px;
    height: 10px;
    border-radius: 8px;
    background-color: var(--thiBgColor);
    align-self: flex-end;
    cursor: pointer;
}
.time-line {
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background-color: white;
}
.time-line:hover {
    position: relative;
    cursor: pointer;
    height: 15px;
    top: -5px;
}
.time-line-container:hover .time-line {
    position: relative;
    cursor: pointer;
    height: 15px;
    top: -5px;
}

.casette-div {
    width: 358px;
    height: 233px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.casette-tittle {
    color: black;
    font-weight: bold;
    margin-top: 30px;

}

.audio-detail-title {
    margin-top: 10px;
    font-size: 45px;
    font-weight: bold;
}

.time-current {
    min-width: 55px;
}
.time-over {
    min-width: 55px;
}





.album-name-and-releases {
    min-width: 400px;
    /*background-color: green;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.album-container {
    width: 385px;
    height: 440px;
    padding: 18px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 60px;
     background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.album-container:hover {
    cursor: pointer;
    background: rgba(107, 107, 107, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.album-image {
    width: 350px;
    border-radius: 15px;
    margin-top: 9px;
}
.album-description {
    padding: 15px;
}
.album-description h3 {
    font-size: 20px;
}
.album-description p {
    color: var(--textColor);
    font-size: 14px;
}


.up-next-container {
    margin-top: 70px;
    min-width: 460px;
    /*background-color: gold;*/
    padding: 10px 20px;
    position: relative;
}
.container-line {
    position: absolute;
    top: 0;
    left: 20px;
    min-width: 100px;
    height: 1px;
    background-color: var(--thiBgColor);
}

.up-next-songs {
    width: 100%;
    height: 67vh;
    /*background-color: lavender;*/
    margin-top: 20px;
    overflow: auto;
}

.up-next-song {
    background-color: var(--thiBgColor);
    border-radius: 7px;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 10px 10px 0;
    cursor: pointer;
}
.up-next-song:hover {

}
.up-next-song-detail {
    display: flex;
    flex-direction: column;
}
.up-next-song-title {
    font-weight: bold;
    font-size: 18px;
}
.up-next-song-album {
    font-size: 14px;
    color: var(--textColor);
}
.up-next-song-min-con {
    display: flex;
    align-items: center;
}
.up-next-song-min {
    font-size: 17px;
    color: var(--textColor);
}

.new-releases {
    min-width: 385px;
    height: 300px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    background: rgba( 255, 255, 255, 0.05 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.new-release-songs {
    width: 342px;
    height: 230px;
    overflow: auto;
    margin-top: 10px;
    /*background-color: red;*/

}
.new-release-song {
    display: flex;
    /*background-color: green;*/
    border-radius: 10px;
    padding: 10px;
    align-items: center;
}
.new-release-song:hover {
    cursor: pointer;
    background-color: var(--thiBgColor);
}
.release-song-image {
    background-size: cover;
    width: 55px;
    height: 55px;
    border-radius: 10px;
    margin-right: 20px;
}
.release-song-detail {
    display: flex;
    flex-direction: column;
}

.play-audio {
    padding: 10px 0;
    z-index: 10;
}
.active-btn {
    background-color: var(--thiBgColor);
    border-radius: 8px;
}

/* --- VOLUME CONTROL --- */
.volume-control-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 105px;
    position: absolute;
    top: -52px;
    left: 60px;
    z-index: 1;
}
.volume-control-body {
    background-color: var(--thiBgColor);
    /*border-left: 1px solid var(--textColor);
    border-right: 1px solid var(--textColor);*/
    width: 45px;
    height: 105px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    position: relative;
}
.volume-control-box {
    margin-top: 36px;
    width: 52px;
    height: 5px;
    border-radius: 10px;
    /*background-color: red;*/
    cursor: pointer;
    display: flex;
    position: absolute;
    transform: rotate(-90deg);
}/*
.volume-control {
    margin-top: 10px;
    -webkit-appearance: none;
    width: 20px;
    height: 50px;
    border-radius: 10px;

    outline: none;
}
*/
input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 10px;
    background-color: var(--secBgColor);
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.open {
    display: flex;
}


.playlist-and-lyrics {
    width: 100%;
    /*border: 1px solid red;*/
}
