@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;600;700&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body { background: var(--bgColor); overflow-x: hidden; color: white; font-family: 'Gabarito', cursive; }

:root {
  --linkColor: #c72329;
  --bgColor: #0c0c0c;
  --selectedColor: #1e1e1e;
  --secBgColor: #292a2b;
  --thiBgColor: #333333;
  --textColor: #adb1b5;
  --secTextColor: white;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}