::-webkit-scrollbar {
    width: 0.3vw;
}

::-webkit-scrollbar-track {
    background-color: var(--thiBgColor);
    margin-block: 0.5vw;

}

::-webkit-scrollbar-thumb {
    background-color: #9a9a9a;

}

::-webkit-scrollbar-thumb:hover {
    background-color: #656565;
}

::-webkit-scrollbar-corner {
    background-color: var(--secBgColor);
}